
html {
    height: 100%;
    width: 100%;
}

body {
  background-color: #FFF8DC;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#left {
    flex-shrink: 0;
    width: 20%;
}

#right {
  width: 80%;
}

.title {
  color: #FFF8DC;
}
.title:hover {
  color: #FFF8DC;
}

a, p, h1, h2, h3, label, span, input {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
  color: #800000;
}

a:hover {
  color: #b30000;
  text-decoration: none;
}


.flash {
  text-align: center;
  font-size: 1.2em;
  color: #000000;
}

input[type=text]:focus {
    border: 2px solid #556B2F;
}

input[type=text] {
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border: none;
}
input[type=submit]:hover {
    background-color: #8B4513;
    color: #FFF8DC;
}

input[type=submit] {
    background-color: #6d2f0c;
    color: #FFF8DC;
    height: 30px;
    width: 100px;
    border: none;
    font-size: 1.1em;
}
label {
  font-size: 1.2em;
}

select {
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border: none;
}
span {
  display: inline-block;
}
textarea {
    border-radius: 4px;
    height: 100px;
    width:90%;
    resize: none;
    border: none;

}

textarea:focus {
    border: 2px solid #556B2F;
}

.header {
  background-color: #8B4513;
  height: 15%;
  max-height: 130px;
  min-height: 80px;

}
.top-left {
  width: 100%;
  flex-shrink: 0;
  display: inline-flex;
}
.title-holder {
  margin-left: 10px;
  margin-right: auto;
  margin-top: auto;
  margin-bottome: 0;
  height: auto;
}
.top-right {
  float: right;
  padding-right: 5%;
  flex-shrink: 0;
  display: inline-flex;
}
.login {
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: 0;
  text-align: right;
  vertical-align: text-bottom;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
}
.container {
  width: 100%;
  float: left;
  padding: 20px;
  background-color: #FFF8DC;
}

.sidebar {
  float: left;
  border-right: 2px solid #8B4513;
  background-color: #fff0b3;
  padding: 20px;
  padding-left: 50px;
  width: 100%;
  height: 100%;
}

.signin {
  color: #FFF8DC;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 1.2em;
}
.signin:hover {
  color: #FFE4C4;
}

.uname {
  float:left;
  margin-top: 15px;
  font-size: 1.2em;
  color: #FFF8DC;
}
.propic {
  float:left;
  border-radius: 50%;
  margin: 5px;
}

.col-label {
    float: left;
    width: 15%;
    margin-top: 8px;
}

.col-form {
    float: left;
    width: 85%;
    margin-top: 8px;
}

/* Clear floats after the columns */
.form-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {
  
  #left {
    width: 40%;
  }
  #right{
    width: 60%;  
  }
  .sidebar {
    padding: 20px;
  }
  .container {
    width: 100%;
  }
  .top-left h1 {
  font-size: 2em;
  }
  .propic {
  display: none;
  }
}
