{% extends "main.html" %}
{% block content %}
  <h2>Add a New Book to the Library</h2>
  <div class="bookForm">
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('addBook') }}" id="bookForm">
      <p>
        Title: <input name="title" type='text'><br>
        Author: <input name='author' type='text'><br>
        Genre: <select name='genre'>
          {% for g in genres %}
            <option value='{{g.name}}'>{{g.name}}</option>
          {% endfor %}
        </select><br>
        Description:<br>
        <textarea name='description' form='bookForm' maxlength="256"></textarea><br>
        <input type="submit" value="Submit">
      </p>
    </form>
  </div>
{% endblock %}