{% extends "main.html" %}
{% block title %}{{genre.name}}{% endblock %}
{% block content %}
  <h2>{{genre.name}}</h2>
  <p><strong>Description:</strong> {{genre.description}}</p>
  <h3>Books:</h3>
  {% if not books %}
    <p>No Books Added Yet</p>
  {% endif %}
  <ul>
    {% for b in books %}
      <li><a href="{{url_for('showBook', book_id=b.id)}}">{{b.title}}</a></li>
    {% endfor %}
  </ul>
  {% if session.user_id == genre.user_id %}
    <p><a href="{{url_for('removeGenre', genre_id=genre.id)}}">Delete Genre</a></p>
  {% endif %}
{% endblock %}